* {
  margin: 0;
  padding: 0;
}
.app {
  h1 {
    margin: 20px;
  }
}
.item {
  width: 350px;
  border: 1px solid black;
  margin-left: 20px;
  margin-bottom: 20px;

  img {
    width: 350px;
    height: 200px;
  }
}
.item-info {
  padding: 20px;
  h2 {
    margin-bottom: 10px;
  }
}
